body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
}

.container {
  align-items: center;
  background-color: #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 800px;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

  .header img {
      width: 300px;
      margin-left: 33%;
  }

h1 {
  margin-left: 130px;
  font-size: 24px;
}

.form-container {
  text-align: center;
}

h2 {
  font-size: 30px;
  margin-bottom: 20px;
}
.container1{
  display: flex;
  margin-left: 16%;
}
.container2{
  display: flex;
  margin-left: 16%;
}
.container3{
  display: flex;
  margin-left: 16%;
}

.form-group {
  margin-bottom: 15px; 
}

label {
  display: block;
  margin-bottom: 5px;
}
input[type="text"] {
  background-image: url("../image/signup/name.jpg");
  padding-top: 5px;
  background-repeat: no-repeat;
  background-color: #d6d896;
  width: 80%;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}
input[type="username"] {
  background-image: url("../image/signup/name.jpg");
  padding-top: 5px;
  background-repeat: no-repeat;
  background-color: #d6d896;
  width: 80%;
  padding: 10px;
  /* margin-right: 10px; */
  margin-left: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}
input[type="Phone"] {
  background-image: url("../image/signup/Phone.jpg");
  padding-top: 5px;
  background-repeat: no-repeat;
  background-color: #d6d896;
  width: 80%;
  padding: 10px;
  margin-left: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}
input[type="email"] {
  background-image: url("../image/signup/EMAIL.jpg");
  padding-top: 5px;
  background-repeat: no-repeat;
  background-color: #d6d896;
  width: 80%;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}
input[type="password"] {
  background-image: url("../image/signup/PASS.jpg");
  background-repeat: no-repeat;
  background-color: #d6d896;
  padding-top: 5px;
  width: 80%;
  padding: 10px;
  margin-left: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}
input[type="address"] {
  background-image: url("../image/signup/address.png");
  padding-top: 5px;
  background-repeat: no-repeat;
  background-color: #d6d896;
  width: 80%;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}
input[type="conform password"] {
  background-image: url("../image/signup/PASS.jpg");
  background-repeat: no-repeat;
  background-color: #d6d896;
  padding-top: 5px;
  width: 80%;
  padding: 10px;
  margin-left: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}
input[type="Tax card"] {
  background-image: url("../image/signup/tax.png");
  padding-top: 5px;
  background-repeat: no-repeat;
  background-color: #d6d896;
  width: 80%;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}
input[type="comm"] {
  background-image: url("../image/signup/comm.png");
  padding-top: 5px;
  background-repeat: no-repeat;
  background-color: #d6d896;
  width: 80%;
  padding: 10px;
  margin-left: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}
::placeholder{
  color: #000;
}
#email{
  padding-left: 45px;
}
#fname{
  padding-left: 45px;
}
#fname{
  padding-left: 45px;
}
#Phone{
  padding-left: 45px;
}
#password{
  padding-left: 45px;
}
#Address{
  padding-left: 45px;
}
#Conform{
  padding-left: 45px;
}
#Tax-card{
  padding-left: 45px;
}
#comm{
  padding-left: 45px;
}
.forgot-password a {
  color: #000;
}


button {
  background-color: #b0b436;
  color: black;
  padding: 10px 100px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
}

  button:hover {
      background-color: #EEE4B1;
  }

p {
  margin-top: 15px;
}

  p a {
      color: BLACK;
  }

.social-login {
  margin-top: 10px;
  text-align: center;
}
.checkbox-group {
  display: flex;
  align-items: center;
  margin-left: 32%;
}
.checkbox-group input[type="radio"]{
  margin-left: 9%;
}
.checkbox-group label[for="checkbox2"] {
  margin: 900px ;
}
.checkbox-group input[type="radio"]:checked ::before {
  background-color: #EEE4B1;
  color: #b0b436;
  accent-color: red;
}
.messages {
  
  font-weight: bold;
  
  color: black;
  padding: 2%;
  border-radius: 12px;
  background: red;
}
.messages p {
  
  text-align: center;
}